@media(max-width:390px){
    .About-Section p{
        font-size: 0.7rem;
    }
}
@media(max-width:320px){
    .About-Section h1{
        font-size: large;
    }
    .About-Section p{
        font-size: 0.5rem;
        
    }
}
@media(max-width:393px){
    .About-Section{
       max-width: 393px;
       margin-top: -50px;
    }
}