

.Updates-Container{
    overflow: hidden;
}



@media(max-width:320px){
    .Updates-Section{
        max-width:320px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 20px;
    
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}
@media(max-width:375px){
    .Updates-Section{
        max-width:375px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}


@media(max-width:420px){
    .Updates-Section{
        max-width:420px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}


@media(max-width:428px){
    .Updates-Section{
        max-width:428px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}

@media(max-width:440px){
    .Updates-Section{
        max-width:440px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}


@media(max-width:768px){
    .Updates-Section{
        max-width:768px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}


@media(max-width:890px){
    .Updates-Section{
        max-width:890px;
        
    }
    .Updates-Card-div{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        padding: 2vw;
        gap: 12px;
        margin-bottom: 12px;
    }
    .Updates-Card-div img{
        width: 100vw;
        height: auto;
    }
}