
@media(max-width:320px){
    .Work-Card{
        margin-top: -8px !important ;
    }
}

@media(max-width:360px){
    .Work-Card{
        margin-top: 90px !important;
    }
}
@media(max-width:393px){
    .Work-Card{
        margin-top: 50px !important;
    }
}

@media(max-width:412px){
    .Work-Card{
        margin-top: 50px !important;
    }
}
@media(max-width:414px){
    .Work-Card{
        margin-top: 50px !important;
    }
}
@media(max-width:425px){
    .Work-Card{
        margin-top: 100px !important;
    }
}

@media(max-width:428px){
    .Work-Card{
        margin-top: 100px !important;
    }
}

@media(max-width:1280px){
    .Work-Card{
        margin-top: -70px;
    }
    
}